<h3>Редактирование товара</h3>
<form method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<?=$data['product']['id']?>"/>
    <div class="form-group">
        <label for="name">Название</label>
        <input type="text" id="name" name="name" value="<?=$data['product']['name']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="code">Код товара</label>
        <input type="text" id="code" name="code" value="<?=$data['product']['code']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Цена</label>
        <input type="text" id="price" name="price" value="<?=$data['product']['price']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="brand">Производитель</label>
        <input type="text" id="brand" name="brand" value="<?=$data['product']['brand']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="image">Изображение</label>
        <input type="file" id="image" name="image" value="<?=$data['product']['image']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Описание товара</label>
        <textarea id="description" name="description" class="form-control"><?=$data['product']['description']?></textarea>
    </div>
    <div class="form-group">
        <label for="is_new">Новинка?</label>
        <input type="checkbox" name="is_new" id="is_new" <?php if( $data['product']['is_new'] ){ ?>checked="checked"<?php } ?>/>
        <label for="is_recommended"> В рекомендуемые товары</label>
        <input type="checkbox" name="is_recommended" id="is_recommended" <?php if( $data['product']['is_recommended'] ){ ?>checked="checked"<?php } ?> />
        <label for="status">Есть в наличии?</label>
        <input type="checkbox" name="status" id="status" <?php if( $data['product']['status'] ){ ?>checked="checked"<?php } ?> />
    </div>

    <input type="submit" class="btn btn-success" />
</form>